body {
    background-color: rgb(243, 233, 219);
    font-family: "DM Sans", sans-serif;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container header {
    display: block;
    background-color: darkorange;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.card {
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    width: 35%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.card label {
    font-weight: bold;
    display: block;
    padding: 15px;
}

.card input {
    width: 15rem;
}

.dob-input-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.cur-date-input-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.age-output {
    font-weight: bold;
    font-size: 20px;
    background-color: coral;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: white;
}